-- earth.rc - alien display a larger earth
-- v1.02 2026-05-21 @rew62

conky.config = {

-- Size and Position --
   alignment = 'tr',
   gap_x = 600,
   gap_y = 50,
   minimum_height = 130,
   minimum_width = 200,
   maximum_width = 200,

-- Text --
   use_xft = true,
   override_utf8_locale = true,
   xftalpha = 1,
   short_units = true,

-- Colors --
   default_color = '8FBC8F',

-- Window --
   own_window = true,
   own_window_colour = 'FFFFFF',
   own_window_class = 'Conky',
   own_window_type = 'normal',
   own_window_transparent = true,
   own_window_hints = 'undecorated,below,above,sticky,skip_taskbar,skip_pager',
   own_window_title = 'earth',

-- Other --
   double_buffer = true,
   no_buffers = true,
   text_buffer_size = 2048,
   update_interval = 10,
   imlib_cache_size = 0,

-- Lua Load
   lua_load = './settings.lua ./loadall.lua',
   lua_startup_hook = 'vars',
   lua_draw_hook_post = 'main',

}

conky.text = [[
${image /dev/shm/conky/earth.png -p 5,15 -s 190x190}
${voffset 165}${alignr 5}${font MonaspiceNe Nerd Font Mono:size=8}${execi 10 date -r /dev/shm/conky/earth.png "+%-m/%-d/%Y %-I:%M%p" | sed 's/AM/a/;s/PM/p/'}
]]
